.header{
    font-size: 30px;
    background-color: rgb(79, 121, 100);
    text-align: center;
    position: fixed;
    width: 100%;
    z-index: 99;
    font-family:'Courier New', Courier, monospace
}
.ch{
    padding: 10px;
    border-bottom: 2px solid rgb(79, 121, 100);
    display: inline-block;
    margin: 0px 0px 10px 10px;
}
.usl{
    font-size: 25px;
    padding-top: 20 px;
    position: fixed;
    margin-top: 40px;
}
.news{
    display: block;
    position:relative;
    margin-left: 300px;
    top: 40px;
    z-index: 1;
    font-size: 20px;
}
.news p{
    border: 2px solid black;
}

.ye{
    color: rgb(240, 240, 84);
}
.image{
    text-align: center;
    margin-top: 30px;
}
.mg{
    margin-top: 50px;
}
.cool{
    width: 240px;
    height: 350px;
    position:fixed;
    margin-top: 330px;
}
.pre{
    text-align: center;
    position: relative;
    top: 90px;
}
.pre span{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.w{
    width: 70px;
    height: 70px;
}
.zn{
    margin-top: 25px;
    display: inline-block;
}
.znack{
    text-align: center;
}
.plus{
    font-size: 30px;
    background-color: rgb(79, 121, 100);
}
.plus-im{
    width: 90px;
    height: 90px;
}
